body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/splashScreen3.jpeg');
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
  
}
li {
    color: white;}
.stepper-container {
    direction: rtl;
    text-align: right;
    position: relative;
    width: 80%;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
}

.step-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.step-image-container img {
    width: 40%;
    max-width: 372px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.step-content {
    flex: 1;
    text-align: right;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    color: white;
    font-size: 23px;
}

.character img {
    padding-top: 8px;
    width: 80px;
    position: absolute;
    top: -60px;
    right: 0;
    transition: transform 0.5s ease-in-out;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #ddd;
    margin: 20px 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background: #4CAF50;
    transition: width 0.5s ease-in-out;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.step {
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background 0.5s;
 
}

.step.active {
    background: #4CAF50;
    color: white;
}

button {
    margin-top: 0px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 171px;
}